@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --primary: #007bff;
  --secondary: #6c757d;
  --light: #f8f9fa;
  --dark: #343a40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  display: flex;
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark);
}

.screen{
  margin: 5px;
  padding: 5px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.container{
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: solid 1px var(--primary);
  background-color: var(--light);
  padding: 15px;
  min-width: 30vw;
  box-shadow: 0px 0px 3px 2px var(--primary);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom:10px;
}

.centered {
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  display: flex;
  flex-direction: column;
}

.btn {
  border-radius: 5px;
  border: solid 1px var(--light);
  background-color: var(--light);
  color: var(--dark);
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  width: 60px;
}

.btn:hover {
  filter: brightness(85%);
}

.btn-block {
  width: 100%;
}

.btn-sucess{
  border: solid 1px var(--success);
  background-color: var(--success);
  color: var(--light);
}

.btn-danger{
  border: solid 1px var(--danger);
  background-color: var(--danger);
  color: var(--light);
}

.btn-primary{
  border: solid 1px var(--primary);
  background-color: var(--primary);
  color: var(--light);
}

.btn-secondary{
  border: solid 1px var(--secondary);
  background-color: var(--secondary);
  color: var(--light);
}

.btn-dark{
  border: solid 1px var(--dark);
  background-color: var(--dark);
  color: var(--light);
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.form-label{
  font-size: .8em;
  margin-bottom: 3px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.form-control{
  margin-left: 5px;
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid var(--secondary);
}

input[type='checkbox'] {
  position: relative;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}

.tasklist{
  max-height: 350px;
  overflow-y: auto;
}

.task{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 5px 10px;
  background-color: #d1e7ff;
  border-radius: 5px;
  color: var(--dark);
  user-select: none;
}

.task-header{
  display: flex;
  justify-content: space-between;
}

.task.reminder {
  border-left: 5px solid var(--success);
}

.icon{
  font-size: 14px;
  margin: 0px 2px;
}

.d-flex{
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--light);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

@import 'text.css';
@import 'spacing.css';